<!-- pass argument like: roslaunch truck_master master.launch gamepad_rate:=50.0  -->

<launch>

  <arg name="seta" default="0.1"/>
  <arg name="wn" default="0.3"/>
  <arg name="delta" default="50"/>
  <arg name="lh" default="0.27"/>
  
  
  <node name="pid" pkg="truck_automatic_ctrl" type="pid.py">
    <param name="seta" type="double" value="$(arg seta)" />
    <param name="wn" type="double" value="$(arg wn)" />
    <param name="delta" type="double" value="$(arg delta)" />
    <param name="lh" type="double" value="$(arg lh)" />
  </node>

</launch>
